<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mech In Mind</title>

    <!--Link Section-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/back-to-top.css' %}">
    {% block HeadContent %}
    {% endblock %}
    <!--Script Section-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script src="{% static 'JS/js.js' %}"></script>


</head>

<body>

<!--==================navigation bar====================-->


<!---->

{% include 'layout/sidebar.html' %}

{% block content %}
{% endblock %}

{% include 'layout/footer.html' %}


<div id="stop" class="scrollTop" style="border-radius: 50%;">
    <span><a href="" style="text-decoration: none;"><i class="fa fa-arrow-up" aria-hidden="true"></i></a></span>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
                type: "GET",
                url: "/articles/getCategories/",
                success: function (data) {
                    var navbar = $("#myNav2")
                    navbar.empty()
                    navbar.addClass("overlay2")
                    navbar.append(
                        `
                        <a href="javascript:void(0)" class="closebtn" onclick="closecat()">&times;</a>
                        <div class="overlay-content2">
                        </div>
                        `)
                    $.each(data, function (key, value) {
                        $(".overlay-content2").append(
                            `
                                <a href="#" class="cat" onclick="opencat1(${key})" catId="${key}">${value}</a>
                            </div>
                            `)
                    })
                    navbar.append(
                        `
                        </div>
                        `)
                }
            }
        )
    })
</script>
{% block Scripts %}
{% endblock %}
</body>

</html>