{% extends 'layout/base.html' %}
{% load static %}

{% block HeadContent %}
    <link rel="stylesheet" href="{% static 'css/dailyarticle.css' %}">
{% endblock %}

{% block content %}
    <br><br><br>

    <section class="daily-article">
        <div class="container">
            <div class="row">

                <div class="col-md-1"></div>

                <div class="col-md-10">


                    <div class="section">
                        <p class="in-sec">WHY 5 ARTICLES DAILY? - THE CHUNK CONCEPT</p>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-details">

                                <div class="blog-1">
                                    <img src="{% static 'Images/blog-2.jpg' %}" class="img-fluid img-blog img-shade"
                                         alt="not supported">
                                </div>
                                <div class="blog-2">

                                    <br>
                                    <p class="blog-p1 cont-blog chunk-heading">Learn why we upload just about 5 articles
                                        daily and how
                                        it makes you smarter every day.</p>
                                    <p class="blog-p2 cont-blog">by <span>Aishwarya Chauhan</span></p>
                                    <br>
                                    <p class="cont-blog-1">
                                        Learning by chunking is an active learning strategy characterized by
                                        chunking, which is defined as cognitive processing that re-codes
                                        information into meaningful groups, called chunks, to increase
                                        learning efficiency or capacity. Chunks of information are
                                        generally composed of familiar or meaningful sets of information
                                        that are recalled together. In this way we are able to decrease
                                        the amount of information that must be held in working memory by
                                        increasing the amount of information per chunk.

                                        <br><br>

                                        Chunking is a strategy used to reduce the cognitive load on the brain
                                        as the learner processes information. Essentially, chunking helps in
                                        the learning process by breaking long strings of information into
                                        bite sized chunks that are easier to remember.

                                        <br><br>
                                    <div class="inner-div">
                                        <div class="div-2-inner">
                                            The process involves several steps. The number of steps you
                                            use depends on the type of information you are trying to remember.

                                        </div>
                                    </div>
                                    <br>

                                    </p>
                                    <p class="cont-blog-2">

                                    <ol class="lists">
                                        <li>Break larger amounts of info into smaller units</li>
                                        <li>Identify similarities or patterns</li>
                                        <li>Organize the info</li>
                                        <li>Group info into manageable units</li>
                                    </ol>

                                    <h5 class="cont-blog-2">The following examples will emphasize the importance to use
                                        chunks:</h5>
                                    <ol class="lists">
                                        <li>Phone numbers can be remembered as <strong>860-552-562</strong> rather than
                                            860552562.
                                        </li>
                                        <li>A long name of something can be remembered as
                                            <strong>X-LET-HIPS-OX-WHY-MIX</strong> rather
                                            than XLETHIPSOXWHYMIX.
                                        </li>
                                        <li> Long lists can also be chunked:
                                            <ul>
                                                <li>
                                                    List: bread, ice cream, milk, tomatoes, eggs, butter, apples,
                                                    muffins, vegetables, bagels, lettuce, cream, banana.
                                                    <p class="cont-blog-2">
                                                        Chunked list: <br>
                                                        <strong>Fruits and vegetables:</strong> lettuce, banana,
                                                        tomatoes, apples, and other vegetables
                                                        <br>
                                                        <strong>Bakery:</strong> muffins, bread, bagels
                                                        <br>
                                                        <strong>Dairy:</strong> milk, eggs, butter, cream
                                                        <br>
                                                        <strong>Frozen:</strong> ice cream
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ol>
                                    </p>

                                    <p class="cont-blog-2">
                                        We, at MechinMind actively use this concept in our articles by providing
                                        you daily 5, chunk sized conceptual articles that enhances your concepts,
                                        insights you to the practical industrial world of mechanical engineering,
                                        introduces you to new emerging technologies in our field with technical
                                        explanation, giving you project ideas, helping you practice for interview
                                        with our articles, uploading links to free study material, CAD designing
                                        tricks, the limits here are limitless.
                                        <br><br>
                                        Our aim at MechinMind is to bridge the gap between what university/college
                                        teaches and what is applied presently in industries and help learn to build
                                        a correlation between them. When we know modifications applied to the
                                        existing theoretical technologies, then we are more likely able to
                                        understand and implement them when we are at work or are participating in
                                        building a project as a student.
                                        <br><br>
                                        Come join us for free, just give your 20 to 25 minutes daily at our website
                                        and guard your pillars for an exciting bright future ahead.
                                        <br><br>
                                        <strong>References:</strong>
                                        <br><br>
                                        <strong>Springer Link:</strong><br>
                                        <a href="https://link.springer.com/referenceworkentry/10.1007%2F978-1-4419-1428-6_1042"
                                           class="links" target="_blank">
                                            https://link.springer.com/referenceworkentry/10.1007%2F978-1-4419-1428-6_1042</a>
                                        <br><br>
                                        <strong>The Peak Performance Center:</strong><br>
                                        <a href="https://thepeakperformancecenter.com/educational-learning/thinking/chunking/chunking-as-a-learning-strategy/"
                                           class="links" target="_blank">
                                            https://thepeakperformancecenter.com/educational-learning/thinking/chunking/chunking-as-a-learning-strategy/</a>
                                        <br><br>
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!---------------------------------Section 1 ends------------------------------------>


                    <br><br>
                    <div class="row">
                        <div class="col-md-12 writter-div">
                            <p>Written By</p>
                            <div class="div1">
                                <img src="images/Meet.jpg" class="img-fluid writter" alt="not supported"> Meet Mehta
                                <a href="https://www.linkedin.com/in/meet-mehta-727b83175" target="_blank"><i
                                        class="fa fa-linkedin-square" style="color: #0e76a8;"></i></a>
                            </div>

                            <br>

                            <button type="button" class="button-1" onclick="location.href='/';">Back To
                                Home
                            </button>
                            <br><br>
                        </div>
                    </div>
                </div>

                <div class="col-md-1"></div>
            </div>
        </div>
    </section>


    <br><br><br>

{% endblock %}